# STM32CubeIDE build output
Debug/
Release/
AudioProject Debug.launch
*.launch

# Ignore CubeIDE settings files by default
.settings/*

# But keep project encoding setting
!.settings/org.eclipse.core.resources.prefs
